html { 
    background: url(../img/bg.jpg)
    no-repeat center fixed;   
    background-attachment: fixed;
    background-size: cover;
}

header{
    text-align: center;
}

img.logo {
    position: center;
    width: 500px;
    height: 125px;
    }

body {
    font-family: Arial;
    font-size: 15px;  
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    text-align: center; 
    background: #FF8800;
    font-size: 15px;
}