nav {
    text-align: center;
    font-size: 15px;
    position: center;
    
}

li a:hover{
    background-color: #0099cc;     
}

li a {
    display: block;
    text-decoration: none;
    line-height: 30px;
    color: #fff; 
    background-color: #333;
    padding:0 20px
}   

a {
    border-radius: 10px;
}

ul {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}

li {
    display: inline-block;
	list-style-type: none;
	height: 100%;
}

a.selected{
    border-radius: 10px;  
    background-color: #0099cc;
}