/* Portrait and Landscape */
@media only screen and (min-device-width: 100px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
   
html {

    -webkit-text-size-adjust: auto;
}

header{
    text-align: center;
}

img.logo {
        width: 250px;
        height: 140px;
}

div.img1{
        text-align: center;
}

nav {
    text-align: center;
    -webkit-text-size-adjust: auto;
    position: center;
    padding-right: 30px;
}

li a:hover{
    background-color: #0099cc;     
}

li a {
    line-height: 30px;
    color: #fff; 
    background-color: #333;
}   

a {
    border-radius: 10px;
}

li {
    display: list-item;
}

a.selected{
    border-radius: 10px;  
    background-color: #0099cc;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px; 
    left: 0px; 
    text-align: center; 
    background: #FF8800;
    font-size: 10px;
}}